*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #22212e;
}

#header{
  display: flex;
}

#header #logo{
  margin-left: 30px;
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

#header #option{
  margin: 0 auto;
  margin-top: 55px;
  font-family: 'Source Sans Pro', sans-serif;
}

#header #more{
  margin-right: 0;
  margin-top: 40px;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

#header #logo h1{
  color: #2dcccc;
  font-weight: 300;
}

#header #logo p{
  color: #2dcccc;
  margin-top: 10px;
  font-weight: bold;
}

#header #logo span{
  font-size: 1rem;
  color: grey;
}

#header #option .select{
  color: white;
  background-color: #3e3d53;
  padding: 7px;
  font-size: 0.8rem;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px #2d2c3b;
}

#header #more #timer{
  color: white;
  text-align: center;
  padding-top: 6px;
  width: 40px;
  height: 40px;
  border: 4px #2dcccc;
  border-style: solid;
  border-radius: 100px;
}

#header #more #telegram{
  background-color: #2dcccc;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  padding-left: 20px;
}

#header #more #telegram i{
  background-color: #2dcccc;
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3e3d53;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #2dcccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3e3d53;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3e3d53;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#table-div{
  width: 80%;
  margin: auto;
  color: aliceblue;
  text-align: center;
  margin-top: 40px;
}

#table-div table{
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-spacing: 0 15px;
}

#table-div table th{
  color: grey;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
}

#table-div table .trHover{
  background-color: #3e3d53;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  margin: 20px;
  
}

#table-div table td {
  font-size: 1.3rem;
  font-weight: bold;
}

table td:first-child{
  border-left: 1px solid #000000;
}
table tbody tr td:first-child {
  border-radius: 20px 0 0 20px;
}

table tbody tr td:last-child {
  border-radius: 0 20px 20px 0;
}